<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <table></table>
    <script>
      document.body.style.background = "white";

      async function apiCall() {
        let res = await fetch("http://localhost:3000/api/articles");

        return res.json();
      }

      async function display() {
        let res = await apiCall();

        let fragment = document.createDocumentFragment();

        for (let x = 0; x < res.length; x++) {
          let row = document.createElement("tr");

          const article = document.createElement("td");
          article.innerHTML = res[x].name;

          const link = document.createElement("td");
          link.innerHTML = res[x].article;
          link.href = res[x].article;

          const likeCount = document.createElement("td");
          likeCount.innerHTML = res[x].likes;

          const button = document.createElement("button");
          button.innerHTML = "Like";
          //   button.setAttribute("OnClick");

          row.appendChild(article);
          row.appendChild(link);
          row.appendChild(likeCount);
          row.appendChild(button);

          fragment.appendChild(row);
        }

        document.querySelector("table").appendChild(fragment);
      }

      display();
    </script>
  </body>
</html>
