<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <script>
      document.body.style.background = "white";

      let url = "http://localhost:3000/api/articles";

      const xhr = new XMLHttpRequest();

      xhr.open("GET", url, true);

      xhr.onload = () => {
        const parsedData = JSON.parse(xhr.responseText);

        console.log(parsedData);

        for (x in parsedData) {
          let textNode = document.createElement("p");
          textNode.innerHTML = parsedData[x].name;
          let linkNode = document.createElement("a");
          linkNode.innerHTML = parsedData[x].article;
          linkNode.href = parsedData[x].article;
          document.body.appendChild(textNode);
          document.body.appendChild(linkNode);
        }
      };

      xhr.send();
    </script>
  </body>
</html>
