<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      let form = document.createElement("form");
      form.id = "form";

      let input = document.createElement("input");
      input.type = "text";
      input.name = "article";

      form.appendChild(input);

      let button = document.createElement("button");
      button.innerHTML = "Submit";

      button.addEventListener("click", getFormData);

      form.appendChild(button);
      document.body.appendChild(form);

      async function getFormData() {
        let formData = new FormData(document.getElementById("form"));
        // let {article} = formData
        console.log(input.name);
        let data = document.createElement("div");
        data.innerHTML = JSON.stringify(formData);
        document.body.appendChild(data);
        // try {
        //   await fetch("http://localhost:5000/api/articles", {
        //     method: "POST",
        //     body: {
        //       article:
        //     }

        //   });
        // } catch (error) {
        //   console.log(error);
        // }
      }
    </script>
  </body>
</html>
