<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      let form = document.createElement("form");
      form.id = form;

      let input = document.createElement("input");
      input.type = "text";

      form.appendChild(input);

      let button = document.createElement("button");
      button.innerHTML = "Submit";

      button.addEventListener("click", async () => {
        let formData = new FormData(document.querySelector("form"));
        // let {article} = formData
        console.log(formData);
        // try {
        //   await fetch("http://localhost:5000/api/articles", {
        //     method: "POST",
        //     body: {
        //       article:
        //     }

        //   });
        // } catch (error) {
        //   console.log(error);
        // }
      });

      form.appendChild(button);
      document.body.appendChild(form);
    </script>
  </body>
</html>
